{% extends "layout.html" %}
{% block title %}Play AI{% endblock %}
    {% block content %}

    <table>
        {% for i in range(3) %}
        <tr>
            {% for j in range(3) %}
            <td>
                {% if game[i][j] %}

                    {{ game[i][j] }}

                {% elif not won  %}


                    <a href="{{ url_for('playai', row=i, col=j) }}">Play {{ turn }} here.</a>

                {% else %}
                <p></p>

                {% endif %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
{% endblock %}